.budget-component {
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    min-width: 300px;
    position: relative;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__title {
            display: grid;
            row-gap: 5px;
            &__name {
                font-weight: bold;
            }
        }
    }

    &__value {
        // margin: 10px 0;
    }

    &__buttons {
        // position: absolute;
        // top: 5px;
        // right: 5px;
        display: flex;
        .button {
            margin: 0 3px;
        }
    }
}
