.budget-breakdown {
    .budget-components {
        &__container {
            display: grid;
            grid-template-rows: 1fr auto;
            row-gap: 20px;
            .add-component {
                justify-self: center;
            }
        }
        display: flex;
        justify-content: space-between;
    }
}
