.expense {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    &__name {
        white-space: pre;
        &::after {
            content: " - ";
        }
    }

    &__percentage {
        width: 100%;
        height: 1.53em;
    }

    &__buttons {
        margin-left: auto;
    }
    // &__percentage {
    //     white-space: pre;
    //     font-weight: bold;
    //     &::before {
    //         font-weight: normal;
    //         content: " (";
    //     }
    //     &::after {
    //         font-weight: normal;
    //         content: ")";
    //     }
    // }
}
